<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit your comment!</h1>
  <form action="/sneakers/<%= sneaker._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <label>
      Content:
      <textarea 
        type="text"
        name="content"  
        cols="30" 
        rows="5"
        autocomplete="off"
        ><%= comment.content %></textarea>
    </label>
    <button type="submit" id="btn">Update Comment</button>
  </form>
</section>

<%- include('../partials/footer') %>