<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h3>
    <%= sneakers.length %> Sneakers : $
  </h3>
  <div class="search-add">
    <form action="/sneakers/search" method="GET">
      <input type="search" name="brandName" placeholder="Search Brand" autocomplete="off" id="search" required>
      <button type="submit" id="style-btn"><i class="fas fa-search fa-lg"></i></button>
    </form>
    <a href="/sneakers/new">
      <button id="style-btn"><i class="far fa-plus-square fa-lg"></i></button>
    </a>
  </div>
  <div class="shoebox-container">
    <div class="shoebox-gallery">
      <% sneakers.forEach(sneaker => { %>
        <a href="/sneakers/<%= sneaker._id %>"><%= sneaker.nickname %>
        <img 
          src="../assets/images/sneakerbox_images/<%= sneaker.brand %>.png"
          alt="sneakerbox"></a>
        <% }) %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
