<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="search-add">
    <form action="/sneakers/results" method="POST">
      <input type="search" name="q" placeholder="Search Sneakers">
      <button type="submit">Search</button>
    </form>
    <a href="/sneakers/new">
      <button class="btn">+</button>
    </a>
  </div>
  <div class="shoebox-container">
    <ul class="shoebox-gallery">
      <li>
        <% sneakers.forEach(sneaker => { %>
          <img 
            src="../assets/sneakerbox_images/<%= sneaker.brand %>.png" 
            alt="sneakerbox"
          >
          <div 
            class="overlay">
              <span>
                <a href="/sneakers/<%= sneaker._id %>"><%= sneaker.nickname %>
                </span></a>
          </div>
        <% }) %>
      </li>
    </ul>
  </div>
</main>

<%- include('../partials/footer') %>
