<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="search-add">
    <form action="/sneakers/search" method="GET">
      <input type="search" name="brandName" placeholder="Search Brand" autocomplete="off">
      <button type="submit">Search</button>
    </form>
    <a href="/sneakers/new">
      <button class="btn">+</button>
    </a>
  </div>
  <div class="shoebox-container">
    <ul class="shoebox-gallery">
      <li>
        <% sneakers.forEach(sneaker => { %>
          <div class="overlay">
            <a href="/sneakers/<%= sneaker._id %>"><%= sneaker.nickname %></a>
            <img 
              src="../assets/images/sneakerbox_images/<%= sneaker.  brand %>.png" 
              alt="sneakerbox">
          </div>
        <% }) %>
      </li>
    </ul>
  </div>
</main>

<%- include('../partials/footer') %>
