<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/index.css">
<%- include('../partials/nav') %>

<main>
  <div class="header">
    <h1><%= title %></h1>
    <div class="search-add">
      <form action="/sneakers/search" method="GET">
        <input type="search" name="brandName" placeholder="Search Brand" autocomplete="off" id="search" required>
        <button type="submit" id="style-btn"><i class="fas fa-search fa-lg"></i></button>
      </form>
    </div>
  </div>
  <div class="main">
    <div class="summary">
      <h2>Inventory Collection</h2>
      <a href="/sneakers/new">
        <button id="btn">Add Sneakers</button>
      </a>
      <table class="closet-table">
        <tr>
          <th>Quantity:</th>
          <td><%= sneakers.length %></td>
        </tr>
        <tr>
          <th>Total Cost:</th>
          <td><%  
            let totalCost = 0
            sneakers.forEach((sneaker) => {
              totalCost += (sneaker.purchasePrice)
            })
          %>
          $<%= Math.round(totalCost).toLocaleString('en-US') %></td>
        </tr>
        <tr>
          <th>Average Cost:</th>
          <td>$<%= sneakers.length === 0 ? 0 : Math.round(totalCost/sneakers.length) %></td>
        </tr>
      </table>
      <h2>Marketplace</h2>
      <table class="marketplace-table">
        <tr>
          <th>Quantity:</th>
          <td>
            <%  
            let counter = 0
            sneakers.forEach((sneaker) => {
              if (sneaker.isForSale === true)
              counter ++
            })
            %>
            <%= counter %>
          </td>
        </tr>
        <tr>
          <th>Potential Cash Inflow:</th>
          <td>
            <%  
            let totalRev = 0
            sneakers.forEach((sneaker) => {
              sneaker.saleSheets.forEach((saleSheet) => {
                totalRev += (saleSheet.salePrice)
              })
            })
            %>
            $<%= Math.round(totalRev).toLocaleString('en-US') %>
          </td>
        </tr>
      </table>
    </div>
    <div class="shoebox-container">
      <div class="shoebox-gallery">
        <% sneakers.forEach(sneaker => { %>
          <a href="/sneakers/<%= sneaker._id %>"><%= sneaker.nickname %>
          <img 
            src="/assets/images/sneakerbox_images/<%= sneaker.brand %>.png"
            alt="sneakerbox">
          </a>
          <% }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
