<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="button-section">
    <% if (sneaker.owner.equals(user?.profile._id)) { %>     
      <a href="/sneakers/<%= sneaker._id %>/edit">
        <button>Update</button>
      </a>
      <form action="/sneakers/<%= sneaker._id %>?_method=Delete" method="POST">
        <button type="submit">Remove</button>
      </form>
    <% } %>
  </div>
  <% if (sneaker.imageUrl) { %>
    <img src="<%= sneaker.imageUrl %>" alt="sneakers" width="auto" height="200px">
  <% } %>  
  <section class="sneaker-details">
    <div>Brand</div>
    <div><%= sneaker.brand %></div>
    <div>Nickname</div>
    <div><%= sneaker.nickname %></div>
    <div>Release Year</div>
    <div><%= sneaker.releaseYear %></div>
    <div>SKU</div>
    <div><%= sneaker.sku %></div>
    <div>Size</div>
    <div><%= sneaker.size %></div>
  <% if (sneaker.owner.equals(user?.profile._id)) { %>
    <div>Purchase Price</div>
    <div>$<%= sneaker.purchasePrice %></div>
    <div>Ready to sell or trade?</div>
    <div><%= sneaker.isForSale ? 'Yes' : 'No' %></div>
  </section>
  <section class="sneaker-sale-sheet">
      <% if (sneaker.saleSheets.length) { %>
        <table>
          <thead>
            <tr>
              <th>Condition</th>
              <th>Sale Price</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% sneaker.saleSheets.forEach(saleSheet => { %>
              <tr>
                <td><%= saleSheet.condition %></td>
                <td>$<%= saleSheet.salePrice %></td>
                <td>
                  <form 
                    action="/sneakers/<%= sneaker._id %>/saleSheets/<%= saleSheet._id %>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit">X</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
      <% if (sneaker.isForSale && !sneaker.saleSheets.length) { %>
        <form 
          id="add-sellsheet-form"
          action="/sneakers/<%= sneaker._id %>/saleSheets"
          method="POST"
        >
        <label for="condition-input">Condition:</label>
        <input type="text" name="condition" id="condition-input">
        <label for="sale-price-input">Sale Price</label>
        <input type="text" name="salePrice" id="sale-price-input">
        <button type="submit">Add Sale Sheet</button>
        </form>
      <% } %>
    </section>
  <% } %>  
  <% if (user) { %>
    <section class="comment-section">
      <h3>Comments</h3>
      <ul>
        <% sneaker.comments.forEach(comment => { %>
          <li>
            <h6><%= comment.author.name %></h6>
            <%= comment.content %>
            <% if (comment.author.equals(user?.profile)) { %>
              <form 
              action="/sneakers/<%= sneaker._id %>/comments/<%= comment._id %>?_method=DELETE" 
              method="POST"
              class="inline"
                >
                <button class="btn" type="submit">X</button>
              </form>
                <a href="/sneakers/<%= sneaker._id %>/comments/<%= comment._id %>/edit">
                  <button class="btn">Edit</button>
                </a>
            <% } %>
          </li>
        <% }) %>
      </ul>
      <form 
        action="/sneakers/<%= sneaker._id %>/comments"
        method="POST"
        >
          <textarea name="content"></textarea><button>→</button>
      </form>
    </section>
  <% } %>

</main>  

  <%- include('../partials/footer') %>