<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <% if (sneaker.owner.equals(user?.profile._id)) { %>     
        <a href="/sneakers/<%= sneaker._id %>/edit">
          <button>Update</button>
        </a>
        <form action="/sneakers/<%= sneaker._id %>?_method=Delete" method="POST">
          <button type="submit">Remove</button>
        </form>
      <% } %>
    </div>
    <div></div>
    <div>Brand</div>
    <div><%= sneaker.brand %></div>
    <div>Nickname</div>
    <div><%= sneaker.nickname %></div>
    <div>Release Year</div>
    <div><%= sneaker.releaseYear %></div>
    <div>SKU</div>
    <div><%= sneaker.sku %></div>
    <div>Size</div>
    <div><%= sneaker.size %></div>
    <div>Purchase Price</div>
    <div><%= sneaker.purchasePrice %></div>
    <div>Ready to sell or trade?</div>
    <div><%= sneaker.isForSale ? 'Yes' : 'No' %></div>
  </section>
</main>  

  <%- include('../partials/footer') %>