<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sneakers/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="parent">
    <div class="sneaker-show">
      <div class="show-header">
        <div class="show-title">
        <h1><%= title %></h1>
        </div>
        <div class="show-buttons">
          <% if (sneaker.owner.equals(user?.profile._id)) { %>     
            <a href="/sneakers/<%= sneaker._id %>/edit">
              <button id="btn">Update</button>
            </a>
            <form action="/sneakers/<%= sneaker._id %>?_method=Delete" method="POST">
              <button type="submit" id="btn">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="show-card">
        <div class="card-img">
          <% if (sneaker.imageUrl) { %>
            <img src="<%= sneaker.imageUrl %>" alt="sneakers">
          <% } else {%>
            <img src="/assets/images/image-coming-soon.jpg" alt="image-coming-soon" width="200px" height="200px">
          <% } %> 
        </div>
        <div class="card-content">
          <div class="card-header">
            <div class="content-brand">
              <%= sneaker.brand %>
            </div>
            <div class="content-nicknameYear">
              <div class="nickname">
                <%= sneaker.nickname %>
              </div>
              <div class="year">
                <%= sneaker.releaseYear %>
              </div>
            </div>
          </div>
          <div class="card-details">
            <div>Size <%= sneaker.size %></div>
            <% if (sneaker.owner.equals(user?.profile._id)) { %>
              <div>Cost $<%= sneaker.purchasePrice %></div>
            <% } %>
            <div>SKU <%= sneaker.sku %></div>
          </div>
          <div class="for-sale">
            <%= sneaker.isForSale ? 'Ready to Sell' : 'Not Ready to Sell' %>
            <div class="sale-sheet">
              <% if (sneaker.saleSheets.length) { %>
                  <% sneaker.saleSheets.forEach(saleSheet => { %>
                    <div><%= saleSheet.condition %></div>
                    <div>Price: $<%= saleSheet.salePrice %></div>
                    <% if (sneaker.owner.equals(user?.profile._id)) { %>
                      <form 
                        action="/sneakers/<%= sneaker._id %>/saleSheets/<%= saleSheet._id %>?_method=DELETE"
                        method="POST"
                      >
                        <button type="submit" id="btn">X</button>
                      </form>
                    <% } %>
                  <% }) %>
              <% } %>
              <% if (sneaker.owner.equals(user?.profile._id)) { %>
                <% if (sneaker.isForSale && !sneaker.saleSheets.length) { %>
                  <form 
                  id="add-sellsheet-form"
                  action="/sneakers/<%= sneaker._id %>/saleSheets"
                  method="POST"
                  >
                  <label for="condition-input">Condition:</label>
                  <select name="condition" id="condition-input">
                    <option value="Grade A: Deadstock" selected>Grade A: Deadstock</option>
                    <option value="Grade B: VND">Grade B: VND</option>
                    <option value="Grade C: Lightly Used">Grade C: Lightly Used</option>
                    <option value="Grade D: Worn">Grade D: Worn</option>
                    <option value="Grade E: Beat">Grade E: Beat</option>
                  </select>
                  <label for="sale-price-input">Sale Price:</label>
                  <input type="text" name="salePrice" id="sale-price-input" required autocomplete="off">
                  <button type="submit" id="style-btn"><i class="fas fa-plus-circle fa-lg"></i></button>
                  </form>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% if (user) { %>
        <div class="comment-section">
          <div class="comment-header">
            <div class="comment-title">
              <h3><%= sneaker.comments.length %> Comments</h3>
            </div>
          </div>
          <div class="comment-form">
            <form 
              action="/sneakers/<%= sneaker._id %>/comments"
              method="POST"
              class="comment-submit"
              >
                <textarea name="content" rows="3" cols="75" placeholder="Type comment here ..."></textarea><button id="style-btn"><i class="fas fa-share fa-lg"></i></button>
            </form>
          </div>
          <div class="comment-card-section">
            <% sneaker.comments.forEach(comment => { %>
              <div class="comment-card">
                <div class="comment-card-header">
                  <div class="comment-author-avatar">
                    <img src="<%= comment.author.avatar %>" alt="avatar" height="30" width="auto">
                  </div>
                  <div class="comment-author">
                    <h4><%= comment.author.name %></h4>
                  </div>
                  <div class="comment-buttons">
                    <% if (comment.author.equals(user?.profile)) { %>
                      <form 
                        action="/sneakers/<%= sneaker._id %>/comments/<%= comment._id %>?_method=DELETE" 
                        method="POST"
                        class="inline"
                      >
                        <button id="style-btn" type="submit"><i class="fa fa-trash" style="color: #000000;"></i></button>
                      </form>
                      <a href="/sneakers/<%= sneaker._id %>/comments/<%= comment._id %>/edit">
                          <button id="style-btn"><i class="far fa-edit" style="color: #000000;"></i></button>
                      </a>
                    <% } %>
                  </div>
                </div>
                <div class="comment-card-content">
                  <div class="comment-content">
                    <%= comment.content %>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="ad-space">
      <img src="/assets/images/ad/ga-logo.jpg" alt="general-assembly-logo" height="auto" width="50%" id="ga-logo">
      <div class="ad-body">
        <h2>Become a SW Engineer</h2>
        <h3>In 12 Weeks!!</h3>
        <a href="https://generalassemb.ly/education/software-engineering-immersive">
          <button id="ga-btn">Click Here to Find Out More</button>
        </a>
      </div>
      <a href="https://www.ea.com/games/starwars/jedi/jedi-survivor">
        <img src="/assets/images/ad/game-ad.png" alt="star-wars-jedi-game" id="game-ad">
      </a>
    </div>
  </div>
</main>  

  <%- include('../partials/footer') %>