<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/marketplace/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  
  <div class="sneaker-container">
    <% sneakers.forEach(sneaker => { %>
      <div class="sneaker-card">
        <a href="/sneakers/<%= sneaker._id %>"><img src="<%= sneaker.imageUrl %>" alt="sneakers" height="200px" width="auto"></a>
        <% sneaker.saleSheets.forEach(saleSheet => { %>
          <p>$<%= saleSheet.salePrice %> ・ <%= sneaker.nickname %></p>
        <% }) %>  
      </div>
    <% }) %>

  </div>
  </main>

<%- include('../partials/footer') %>