<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="card-container">
    <% sneakers.forEach(sneaker => { %>
      <a class="text-decoration-none" href="/marketplace/<%= sneaker._id %>">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><%= sneaker.name %></h1>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>